.cardsBg {
    background-color: #12121249;
    width: 80%;
    height: auto;
    padding: 1em;
    margin-top: 3em;
    border-radius: 10px;

    .cardMain {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        align-items: center;
        gap: 1em;
    }

    .card {
        // width: 15%;

        .cardImg {
            height: 13em;
        }
    }
}
//mobile styles
.mcardBg {
    width: auto;

    .cardMain {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        .cardImg {
            height: auto;
        }
    }
}
