{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "trailingComma": "all"
      }
    ],
    "comma-dangle": "off",
    "no-unused-vars": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
