.footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

  .footer-icons {
    display: inline-flex;
    gap: 1em;
    padding: 0.3em;
  }

  .copyright-title {
    display: inline-flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
  }
  .footer-links {
    box-sizing: border-box;
    display: flex;
    font-size: 0.8rem;
    padding-bottom: 1em;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 2.5em;
      width: 100%;
      align-items: stretch;
      justify-items: center;
      align-content: center;
    }

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    }
    li {
      list-style: none;
      color: gray;
    }
  }
}
