.appBar {
    padding-top: 0.5rem;
    .toolBar {
        display: flex;
        justify-content: space-between;

        .navBar {
            display: flex;
            gap: 0.5em;
            align-items: center;
        }
    }
}

.iconStyle {
    color: white;
}

.mobileMenu {
    display: flex;
    align-items: center;
    gap: 1.5em;
    .menuIcon {
        font-size: 2.2em;
        padding: 0.5em;
        padding-left: 1em;
    }

    :nth-of-type(2) {
        padding-left: 0.5em;
        padding-right: 1em;
    }

    a {
        margin-right: auto;
    }
}
