.appBar {
    padding-top: 0.5rem;
    .toolBar {
        display: flex;
        justify-content: space-between;

        .navBar {
            display: flex;
            gap: 0.5em;
        }
    }
}
