body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: "Poppins", sans-serif;
    color: white;
    background: url("./assets/images/cosmicsatisfaction.png");
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    animation: backgroundAnimation 10s ease-in-out forwards infinite;
}
@keyframes backgroundAnimation {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 150%;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import "./components/NavBar/NavBar";
@import "./components/HomeCards/HomeCards";
@import "./components/pages/Contact/Contact";
@import "./components/pages/Error/Error";
@import "./components/pages/Home/Home";
@import "./components/pages/JoinUs/JoinUs";
@import "./components/pages/Movies/Movies";
@import "./components/pages/SignIn/SignIn";
@import "./components/pages/TvShows/TvShows";
