body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: "Poppins", sans-serif;
    color: white;
    background: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import "./components/NavBar/NavBar";
@import "./components/Cards/Cards";
@import "./components/pages/Contact/Contact";
@import "./components/pages/Error/Error";
@import "./components/pages/Home/Home";
@import "./components/pages/JoinUs/JoinUs";
@import "./components/pages/Movies/Movies";
@import "./components/pages/SignIn/SignIn";
@import "./components/pages/TvShows/TvShows";
@import "./Breakpoints.scss";
