@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.appBar {
  padding-top: 0.5rem;
}
.appBar .toolBar {
  display: flex;
  justify-content: space-between;
}
.appBar .toolBar .navBar {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.appBar .toolBar .navBar .menu-icon {
  cursor: pointer;
  position: relative;
}
.appBar .toolBar .navBar .menu-item {
  margin-top: 0.2em;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  right: 1.5em;
  top: 3em;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: -moz-fit-content;
  width: fit-content;
  z-index: 3;
}
.appBar .toolBar .navBar .menu-item .menu-list {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 0.8em;
  margin: 0.4em auto;
  background-color: transparent;
  padding: 0.4em 0.6em;
  color: black;
  font-size: 0.9em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
  border: none;
  width: 100%;
}
.appBar .toolBar .navBar .menu-item .menu-list:hover {
  background-color: rgb(248, 223, 223);
  color: red;
  cursor: pointer;
}

.iconStyle {
  color: white;
}

.mobileMenu {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.mobileMenu .menuIcon {
  font-size: 2.2em;
  padding: 0.5em;
  padding-left: 1em;
}
.mobileMenu :nth-of-type(2) {
  padding-left: 0.5em;
  padding-right: 1em;
}
.mobileMenu a {
  margin-right: auto;
}
.mobileMenu a img {
  width: 100%;
}

.cardsBg {
  background-color: rgba(18, 18, 18, 0.2862745098);
  width: 80%;
  height: auto;
  padding: 1em;
  margin-top: 3em;
  border-radius: 10px;
}
.cardsBg .cardMain {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: center;
  gap: 1em;
}

.mcardBg {
  width: auto;
}
.mcardBg .cardMain {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.mcardBg .cardMain .cardImg {
  height: auto;
}

.Error {
  display: block;
  width: 100%;
  height: calc(100vh - 5em);
  position: relative;
}
.Error img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  opacity: 0.7;
}
.Error p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.897);
  padding: 1em;
}
.Error p a {
  color: rgb(7, 255, 243);
}

.homeBgOverlay {
  background: url("../../../assets/images/cosmicsatisfaction.png");
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.homeBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}
.homeBg h4 {
  font-weight: 700;
}
.homeBg span {
  font-weight: 500;
  text-transform: uppercase;
}
.homeBg .exploreBtn {
  padding: 0.5em 0;
}

.mainMovies {
  background-image: url("../../../assets/images/starsatnight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 98vw;
  height: 60vh;
  z-index: -1;
}

.movieMainSkeleton {
  width: 100%;
  box-sizing: border-box;
}
.movieMainSkeleton .movieSkeleton {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  padding: 2em;
  padding-left: 5em;
  justify-content: flex-start;
  gap: 1em;
  border-radius: 5px;
}

.moviesBg {
  margin: auto;
  margin-top: 1em;
  background-color: transparent;
  box-sizing: border-box;
}
.moviesBg .cardMain .card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px 1px rgba(185, 185, 185, 0.557);
}

.signinBgOverlay {
  background: url("../../../assets/images/movieposters.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -2;
}

.signinBg {
  background: #000000;
  opacity: 0.85;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 89.3vh;
  z-index: -1;
  padding-top: 4em;
}

.headerSection {
  box-sizing: border-box;
  text-align: center;
  padding: 1.5em 0;
}
.headerSection .header {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em;
}

.signinSections {
  box-sizing: border-box;
  background-color: #000000;
  width: 50%;
  margin: auto;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 450px) {
  .signinSections {
    width: 90%;
  }
}
@media only screen and (max-width: 770px) {
  .signinSections {
    width: 70%;
  }
}
.signinSections .signinSection1 {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}
.signinSections .signinSection1 .fromTitle {
  font-size: 1.2em;
  font-weight: bold;
}
.signinSections .signinSection2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 450px) {
  .signinSections .signinSection2 {
    width: 100%;
  }
}
.signinSections .signinSection3 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 450px) {
  .signinSections .signinSection3 {
    width: 100%;
    flex-direction: column;
    gap: 0.5em;
  }
}
.signinSections .signinSection3 .checkbox svg {
  outline: 1px solid white;
  border-radius: 50%;
}
.signinSections .signinSection4 {
  width: 80%;
}
.signinSections .signinSection4 button {
  width: 100%;
  height: 3em;
}
.signinSections .signinSection4 button:disabled {
  background: rgba(255, 0, 38, 0.425);
  color: rgba(216, 213, 213, 0.644);
}

.movieTVHeaderMain {
  padding: 1.3em;
}
.movieTVHeaderMain .movieTVheaderText {
  text-transform: capitalize;
  text-align: center;
}

.searchInputMain {
  display: inline-flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin-bottom: 2em;
}
.searchInputMain .searchInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 2em;
  font: inherit;
  background-color: transparent;
}
.searchInputMain .cancel-icon {
  margin-right: 1em;
  margin-top: 0.8em;
  color: red;
  cursor: pointer;
}
.searchInputMain .cancel-icon:hover {
  color: black;
}

.carousal-container {
  position: relative;
}
.carousal-container .carousal-inner {
  width: 100%;
  overflow: hidden;
  height: 20em;
  margin: 1em 0;
}
.carousal-container .carousal-inner .overlay-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, black, transparent);
}
.carousal-container .carousal-inner img,
.carousal-container .carousal-inner .carousalCards {
  width: 100%;
}
.carousal-container .leftBtn,
.carousal-container .rightBtn {
  position: absolute;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0.8em;
  color: rgba(158, 158, 158, 0.473);
  transition: all 0.5s ease-in;
}
.carousal-container .leftBtn:hover,
.carousal-container .rightBtn:hover {
  background-color: rgba(67, 15, 15, 0.667);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.642);
}
.carousal-container .leftBtn {
  left: 42%;
  transform: translateY(-50%);
}
.carousal-container .rightBtn {
  right: 42%;
  transform: translateY(-50%);
}

.carousal-title {
  position: absolute;
  top: 0.5em;
  left: 0.1em;
  color: rgb(242, 242, 242);
  background-color: rgba(16, 16, 16, 0.256);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1em 0.3em;
  font-weight: 500;
}

.carousal-subtitle {
  position: absolute;
  top: 5em;
  left: 0.1em;
  color: rgb(242, 242, 242);
  background-color: rgba(16, 16, 16, 0.256);
  width: 50%;
  padding: 0.5em 0.5em;
  line-height: 1.4em;
}

.vote-progress {
  position: absolute;
  bottom: 1em;
  left: 1em;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 2px rgba(103, 103, 103, 0.384);
  padding: 0.1em;
}

.vote-progress-text {
  position: absolute;
  bottom: 2.6em;
  left: 2.2em;
}

.pagination {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;
  height: -moz-fit-content;
  height: fit-content;
}
.pagination .page-numbers {
  display: flex;
  gap: 0.5em;
  border: 1px solid rgba(172, 172, 172, 0.295);
  border-radius: 5px;
  padding: 0.2em 0.5em;
  box-sizing: border-box;
}
.pagination .page-numbers button {
  width: 3em;
  height: 3em;
  border: none;
  transition: all 0.3s ease-in;
  color: white;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}
.pagination .page-numbers button:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.507);
}
.pagination .page-numbers button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  background-color: transparent;
  color: white;
}
.pagination .page-numbers .active {
  background-color: rgb(161, 1, 1);
  color: rgba(255, 255, 255, 0.89);
  border: 1px solid rgba(245, 245, 245, 0.658);
  border-radius: 3px;
}
.pagination .page-numbers .page-next-prev {
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.2em;
}
.pagination .page-numbers .page-next-prev span {
  padding-top: 0.2em;
}
.pagination .page-numbers button:first-of-type {
  border-right: 1px solid white;
}
.pagination .page-numbers button:last-of-type {
  border-left: 1px solid white;
}

.footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.footer-container .footer-icons {
  display: inline-flex;
  gap: 1em;
  padding: 0.3em;
}
.footer-container .copyright-title {
  display: inline-flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.footer-container .footer-links {
  box-sizing: border-box;
  display: flex;
}
.footer-container .footer-links li {
  list-style: none;
  color: gray;
}/*# sourceMappingURL=App.css.map */