body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: "Poppins", sans-serif;
    color: white;
    background: url("./assets/images/cosmicsatisfaction.png");
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
