@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.appBar {
  padding-top: 0.5rem;
}
.appBar .toolBar {
  display: flex;
  justify-content: space-between;
}
.appBar .toolBar .navBar {
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: relative;
}
.appBar .toolBar .navBar .menu-item {
  position: absolute;
  background-color: red;
}

.iconStyle {
  color: white;
}

.mobileMenu {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.mobileMenu .menuIcon {
  font-size: 2.2em;
  padding: 0.5em;
  padding-left: 1em;
}
.mobileMenu :nth-of-type(2) {
  padding-left: 0.5em;
  padding-right: 1em;
}
.mobileMenu a {
  margin-right: auto;
}
.mobileMenu a img {
  width: 100%;
}

.cardsBg {
  background-color: rgba(18, 18, 18, 0.2862745098);
  width: 80%;
  height: auto;
  padding: 1em;
  margin-top: 3em;
  border-radius: 10px;
}
.cardsBg .cardMain {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: center;
  gap: 1em;
}

.mcardBg {
  width: auto;
}
.mcardBg .cardMain {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.mcardBg .cardMain .cardImg {
  height: auto;
}

.Error {
  display: block;
  width: 100%;
  height: calc(100vh - 5em);
  position: relative;
}
.Error img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  opacity: 0.7;
}
.Error p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.897);
  padding: 1em;
}
.Error p a {
  color: rgb(7, 255, 243);
}

.homeBgOverlay {
  background: url("../../../assets/images/cosmicsatisfaction.png");
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.homeBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}
.homeBg h4 {
  font-weight: 700;
}
.homeBg span {
  font-weight: 500;
  text-transform: uppercase;
}
.homeBg .exploreBtn {
  padding: 0.5em 0;
}

.mainMovies {
  background-image: url("../../../assets/images/starsatnight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 98vw;
  height: 60vh;
  z-index: -1;
}

.movieMainSkeleton {
  width: 100%;
  box-sizing: border-box;
}
.movieMainSkeleton .movieSkeleton {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  padding: 2em;
  padding-left: 5em;
  justify-content: flex-start;
  gap: 1em;
  border-radius: 5px;
}

.moviesBg {
  margin: auto;
  margin-top: 1em;
  background-color: transparent;
  box-sizing: border-box;
}
.moviesBg .cardMain .card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px 1px rgba(185, 185, 185, 0.557);
}

.signinBgOverlay {
  background: url("../../../assets/images/movieposters.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -2;
}

.signinBg {
  background: #000000;
  opacity: 0.85;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 89.3vh;
  z-index: -1;
  padding-top: 4em;
}

.headerSection {
  box-sizing: border-box;
  text-align: center;
  padding: 1.5em 0;
}
.headerSection .header {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em;
}

.signinSections {
  box-sizing: border-box;
  background-color: #000000;
  width: 50%;
  margin: auto;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 450px) {
  .signinSections {
    width: 90%;
  }
}
@media only screen and (max-width: 770px) {
  .signinSections {
    width: 70%;
  }
}
.signinSections .signinSection1 {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}
.signinSections .signinSection1 .fromTitle {
  font-size: 1.2em;
  font-weight: bold;
}
.signinSections .signinSection2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 450px) {
  .signinSections .signinSection2 {
    width: 100%;
  }
}
.signinSections .signinSection3 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 450px) {
  .signinSections .signinSection3 {
    width: 100%;
    flex-direction: column;
    gap: 0.5em;
  }
}
.signinSections .signinSection3 .checkbox svg {
  outline: 1px solid white;
  border-radius: 50%;
}
.signinSections .signinSection4 {
  width: 80%;
}
.signinSections .signinSection4 button {
  width: 100%;
  height: 3em;
}
.signinSections .signinSection4 button:disabled {
  background: rgba(255, 0, 38, 0.425);
  color: rgba(216, 213, 213, 0.644);
}

.movieTVHeaderMain {
  padding: 1.3em;
}
.movieTVHeaderMain .movieTVheaderText {
  text-transform: capitalize;
  text-align: center;
}

.searchInputMain {
  display: inline-flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin-bottom: 2em;
}
.searchInputMain .searchInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 2em;
  font: inherit;
  background-color: transparent;
}

.carousal-container {
  position: relative;
  box-shadow: 3px 2px 5px 0px #d32f2f;
}
.carousal-container .carousal-inner {
  width: 100%;
  overflow: hidden;
  height: 20em;
  margin: 1em 0;
  transition: all ease-in 5s;
}
.carousal-container .carousal-inner img,
.carousal-container .carousal-inner .carousalCards {
  width: 100%;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.carousal-container .leftBtn,
.carousal-container .rightBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0.8em;
  margin-left: 0.5em;
  color: rgba(53, 53, 53, 0.473);
  transition: all ease-in 0.5s;
}
.carousal-container .leftBtn:hover,
.carousal-container .rightBtn:hover {
  background-color: rgba(67, 15, 15, 0.667);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.642);
}
.carousal-container .rightBtn {
  right: 0;
  margin-left: 0em;
  margin-right: 0.5em;
}
.carousal-container .active {
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousal-title {
  position: absolute;
  top: 0.5em;
  left: 1em;
  color: rgb(242, 242, 242);
  background-color: rgba(28, 28, 28, 0.845);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1em 0.3em;
  font-weight: 500;
}

.carousal-subtitle {
  position: absolute;
  top: 5em;
  left: 2em;
  color: rgb(242, 242, 242);
  background-color: rgba(28, 28, 28, 0.845);
  width: 50%;
  padding: 0.5em 0.5em;
  line-height: 1.4em;
}/*# sourceMappingURL=App.css.map */